/* font.css */

.font {
    color: #000;
    font-family: "Pretendard Variable";
    font-style: normal;
    line-height: normal;
  }
  /* Title Variants */
  .font--Title--1 { font-size: 40px; font-weight: 600; letter-spacing: -1px; }
  .font--Title--2 { font-size: 36px; font-weight: 600; letter-spacing: -1px; }
  .font--Title--3 { font-size: 32px; font-weight: 600; letter-spacing: -1px; }
  .font--Title--4 { font-size: 24px; font-weight: 600; letter-spacing: -1px; }
  .font--Title--5 { font-size: 20px; font-weight: 600; letter-spacing: -1px; }
  .font--Title--6 { font-size: 16px; font-weight: 600; letter-spacing: -1px; }
  
  /* Body Variants */
  .font--Body--1 { font-size: 16px; font-weight: 700; letter-spacing: -0.8px; }
  .font--Body--2 { font-size: 16px; font-weight: 600; letter-spacing: -0.8px; }
  .font--Body--3 { font-size: 16px; font-weight: 400; letter-spacing: -0.8px; }
  .font--Body--4 { font-size: 14px; font-weight: 700; letter-spacing: -0.7px; }
  .font--Body--5 { font-size: 14px; font-weight: 600; letter-spacing: -0.7px; }
  .font--Body--6 { font-size: 14px; font-weight: 400; letter-spacing: -0.7px; }
  
  /* Caption Variants */
  .font--Caption--1 { font-size: 14px; font-weight: 700; letter-spacing: -0.7px; }
  .font--Caption--2 { font-size: 12px; font-weight: 700; letter-spacing: -0.6px; }
  .font--Caption--3 { font-size: 12px; font-weight: 400; letter-spacing: -0.6px; }
  .font--Caption--4 { font-size: 10px; font-weight: 700; letter-spacing: -0.5px; }
  .font--Caption--5 { font-size: 10px; font-weight: 400; letter-spacing: -0.5px; }