.storybook-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    height: 70px; /* 일반 헤더박스 높이 지정 */
    box-sizing: border-box; /* 패딩 포함 크기 조절 */
  }
  
  .left, .center, .right {
    display: flex;
    align-items: center;
  }
  
  .left {
    flex: 1;
  }
  
  .center {
    flex: 2;
    justify-content: center;
    text-align: center;
  }
  
  .right {
    flex: 1;
    justify-content: flex-end;
  }
  
  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .back-button {
    font-size: 2rem;
    margin-left: 10px;
  }
  
  .search-button {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .welcome {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  button:focus {
    outline: none;
  }
  
  .search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width : 400px;
    height: 100%;
    margin-left: 20px;
    box-sizing: border-box;
  }
  
  .search-input {
    flex: 1;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #838383;
    border-radius: 50px;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #555;
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 8px;
    font-size: 1.5rem;
  }
  
  .close-button:focus {
    outline: none;
  }